{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Beveiligde tijdelijke opslag in Rhinoboxen, uniek in Vlaanderen!</title>
    <meta name="description" content="Wij halen uw volle Rhinoboxen op, bewaren deze voor u op een veilige locatie en leveren deze op aanvraag. Handig bij verhuizingen, populair bij ondernemingen.">
  {{/replace}}

  {{#replace "main"}}

    <main id="opslag">

      <section id="hero">
        <div class="inner">
          <h2><em>Opslag</em>Hoe het werkt</h2>
          <ul>
            <li>
              <h3>1</h3>
              <p>Wij leveren de Rhinoboxen bij u thuis, op een tijdstip dat u uitkomt.</p>
            </li>
            <li>
              <h3>2</h3>

              <p>U vult de boxen met de spullen die u wenst<br>op te slaan.</p>
            </li>
            <li>
              <h3>3</h3>
              <p>Zodra u klaar bent halen wij de volle dozen weer op en brengen deze naar onze beveiligde depot.</p>
            </li>
            <li>
              <h3>4</h3>
              <p>Op de dag dat u een van uw dozen nodig heeft leveren wij deze binnen 24 uur terug aan uw deur.</p>
            </li>
          </ul>
        </div>
      </section>

      <section id="feature">
        <div class="inner">

        </div>
      </section>

      <section id="cta">
        <div class="inner">
          <h2>Bereken uw prijs</h2>
          <h4>Parameters</h4>
          <p>Aantal dozen</p>
          <p>Aantal dagen</p>
          <p>Boxen afhalen of laten leveren?</p>
          <p>Ophaal postcode</p>
          <p>Afhaal postcode</p>
          <p>Aantal dagen opslag</p>
          <p>Referentie / promotie code</p>
          <h4>Resultaat</h4>
          <p>Prijs inclusief BTW</p>
          <p>Grote bestel nu knop</p>
          <p>Een checklist van alle mogelijke kortingen, sommige in grijs, sommige actief in groen, laat mensen spelen met de paramaters om te zien hoe ze een betere deal kunnen krijgen, meer dozen, langere termijn, boxen zelf ophalen, ...</p>
          <p>Subtiele referentie indien goedkoper dan concurrentie (voorzichtig wel hier)</p>
          <h4>Extra</h4>
          <p>Een visualisatie van het aantal dozen, hoeveel stapels dat zijn, hoeveel bestelwagens groot dat zou zijn, met afmetingen, hoeveel liter opslag ruimte</p>
        </div>
      </section>

    </main>

  {{/replace}}
{{/extend}}
