// VARIABLES

$font-stack-artz: "hwt-artz", sans-serif;
$font-stack-open: "Open Sans", sans-serif;

$rhino-graphite: #373737;
$rhino-brown-1: #726658;
$rhino-brown-2: #5B4A42;
$rhino-blue: #5F7DC0;
$rhino-orange-1: #FBAF5D;
$rhino-orange-2: #E49A4A;

$dashed-line: 2px dashed #EAEAEA;