{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Verhuis met een Rhinobox en je wil niet meer zonder</title>
    <meta name="description" content="Rhinoboxen zijn weerbestendig, stapelbaar, stevig, ecologisch verantwoord en ruim. Eens je verhuist met een Rhinobox wil je niet meer zonder verhuizen.">
  {{/replace}}

  {{#replace "main"}}

    <main id="verhuis">

      <section id="hero">
        <div class="inner">
          <h2><em>Verhuis</em>Hoe het werkt</h2>
          <ul>
            <li>
              <h3>1</h3>
              <div class="verhuis-step-1"></div>
              <p>Wij leveren de Rhinoboxen bij u thuis, op een tijdstip dat u uitkomt.</p>
            </li>
            <li>
              <h3>2</h3>
              <div class="verhuis-step-2"></div>
              <p>U vult de Rhinoboxen met uw spullen en u verhuist naar uw nieuwe thuis.</p>
            </li>
            <li>
              <h3>3</h3>
              <div class="verhuis-step-3"></div>
              <p>Zodra u klaar bent halen wij de lege dozen weer op.</p>
            </li>
          </ul>
        </div>
      </section>

      <section id="feature">
        <div class="inner">
          <h2>Geliefd omdat ...</h2>
          <ul class="left">
            <li>
              <img src="../assets/img/kartonnen-verhuis-dozen.jpg" srcset="../assets/img/kartonnen-verhuis-dozen@2x.jpg 2x" width="250" height="220" alt="stapel ongevouwen kartonnen verhuisdozen">
              <p>Verspil geen tijd aan het gaan kopen, vouwen, plakken en weggooien van karton.<span></span></p>
            </li>
            <li>
              <img src="../assets/img/kartonnen-verhuis-dozen.jpg" width="250" height="220" alt="stapel ongevouwen kartonnen verhuisdozen">
              <p>Verspil geen tijd aan het gaan kopen, vouwen, plakken en weggooien van karton.<span></span></p>
            </li>
            <li>
              <img src="../assets/img/x.png" width="250" height="220" alt="Foto van 1 Rhinobox en iets dat ecologische uitstraalt. In groen gras??">
              <p>Rhinoboxen zijn 100% gerecyleerd en herbruikbaar. Geen karton / plakband afval.<span></span></p>
            </li>
            <li>
              <img src="../assets/img/x.png" width="250" height="220" alt="Foto van 4 gestapelde Rhinoboxen en een reeks kristallen glazen en vazen in open doos??">
              <p>Stapel gerust je zware spullen bovenop je breekbare spullen. Stapelt stabiel tot 4 hoog.<span></span></p>
            </li>
            <li>
              <img src="../assets/img/x.png" width="250" height="220" alt="Foto van Rhino opslag ruimte, vele dozen en iets dat veiligheid uitstraalt">
              <p>Extra: Rhinobox kan uw<br>boxen tijdelijk beveiligd<br>opslaan.
              <a href="/opslag" title="Opslag">Zie hoe</a><span></span></p>
            </li>

          </ul>
          <ul class="right">
            <li>
              <img src="../assets/img/x.png" width="250" height="220" alt="Een charmante man in Rhinobox outfit en passende bestelwagen die 9 gestapelde dozen afleverd">
              <p>Aan huis geleverd<br>en weer afgehaald<span></span></p>
            </li>
            <li>
              <img src="../assets/img/x.png" width="250" height="220" alt="Een vrouw, oudere en kind die ieders een doos dragen">
              <p>Handig formaat en<br>gewicht voor iedereen.<span></span></p>
            </li>
            <li>
              <img src="../assets/img/x.png" width="250" height="220" alt="Foto van een Rhinobox naast een doorweekte kartonnen doos in de plensende regen">
              <p>Weerbestendig<span></span></p>
            </li>
            <li>
              <img src="../assets/img/x.png" width="250" height="220" alt="Foto van 3 gestapelde Rhinoboxen op wieltjes en een vrouw die deze eenvoudig en met glimlach verder duwt">
              <p id="wieltjes">Op wieltjes :)<span></span></p>
            </li>
          </ul>
        </div>
      </section>

      <section id="cta">
        <div class="inner">
          <h2>Bereken uw prijs</h2>
          <h4>Parameters</h4>
          <p>Aantal dozen</p>
          <p>Aantal dagen</p>
          <p>Boxen afhalen of laten leveren?</p>
          <p>Ophaal postcode</p>
          <p>Afhaal postcode</p>
          <p>Aantal dagen opslag</p>
          <p>Referentie / promotie code</p>
          <h4>Resultaat</h4>
          <p>Prijs inclusief BTW</p>
          <p>Grote bestel nu knop</p>
          <p>Een checklist van alle mogelijke kortingen, sommige in grijs, sommige actief in groen, laat mensen spelen met de paramaters om te zien hoe ze een betere deal kunnen krijgen, meer dozen, langere termijn, boxen zelf ophalen, ...</p>
          <p>Subtiele referentie indien goedkoper dan concurrentie (voorzichtig wel hier)</p>
          <h4>Extra</h4>
          <p>Een visualisatie van het aantal dozen, hoeveel stapels dat zijn, hoeveel bestelwagens groot dat zou zijn, met afmetingen, hoeveel liter opslag ruimte</p>
        </div>
      </section>

    </main>

  {{/replace}}
{{/extend}}
