<footer>
  <div class="inner">
    <h4>Footer</h4>
    <ul>
      <li><a href="/" title="">Over onze boxen</a>
      </li>
      <li><a href="/" title="">Hoe het werkt</a>
      </li>
      <li><a href="/" title="">Prijzen</a>
      </li>
      <li><a href="/" title="">Bestel</a>
      </li>
    </ul>
  </div>
</footer>
