<header>
  <div class="inner">
    <h1>
      <a href="/" title="Rhinobox">
        <img src="/assets/img/rhinobox.svg" alt="Rhinobox" width="197px" height="138px" onerror="this.onerror=null; this.src='/assets/img/rhinobox.png'">
      </a>
    </h1>
    <nav>
      <ul>
        <li>
          <a href="/" title="Boxen">Boxen</a>
        </li>
        <li>
          <a href="/verhuis" title="Zie hoe het werkt">Verhuis</a>
        </li>
        <li>
          <a href="/opslag" title="Uniek in Vlaanderen">Opslag</a>
        </li>
        <li>
          <a href="/verhuis" title="Prijzen">Prijzen</a>
        </li>
      </ul>
    </nav>
    <div class="callout">eerste box altijd gratis!</div>
  </div>
</header>
