<!DOCTYPE HTML>
<html lang="nl">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#block "meta"}}
      <title>Rhinobox - Verhuisdozen, tijdelijke opslag, handig verhuizen!</title>
      <meta name="description" content="Stevige stapelbare weerbestendige verhuisdozen op wieltjes. Populair bij verhuizingen!">
    {{/block}}
    <meta name="copyright" content="Copyright 2015 All rights reserved by Jan Werkhoven">
    <meta name="developer" content="Jan Werkhoven jan@nabu.io www.nabu.io">
    <meta name="robots" content="all">
    <link href="/assets/css/main.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <script src="/assets/js/main.min.js"></script>
    <script src="//use.typekit.net/szd6oio.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    {{> header}}
    {{#block "main"}}
      <h1>Layout</h1>
    {{/block}}
    {{> footer}}
  </body>

</html>
